/* General styles */
body {
    background-color: #F7ECE1;
    margin: 0;
    padding: 0;
    color: #011936;
    font-family: "Merriweather Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: underline;
    color: #B370B0;
    padding: 10px;
    border-radius: 5px;
    font-family: "Ruda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
}

/* Welcome Section */
.welcome {
    text-align: center;
    padding: 20px;
}

.welcome h1 {
    color: #996515;
    margin: 20px 0;
    font-size: 500%;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.welcome h2 {
    color: #177E89;
    margin: 5px 0;
    font-size: 300%;
    font-family: "Ruda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.welcome h3 {
    color: #996515;
    font-size: 120%;
}

/* Card Style */
.card {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Aligns text and image vertically */
    gap: 10px;
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-text {
    flex: 1.618;
    width: 100%;
}

.card-image {
    flex: 1;
    width: 100%;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h1 {
    color: #177E89;
    font-family: "Ruda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}

.card h2 {
    color: #996515;
    font-size: 150%;
    margin-bottom: -10px;
}

.card a {
    color: #B370B0;
    text-decoration: underline;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.card li {
    list-style: circle;
    margin: 5px;
}

.image-container {
    text-align: center; /* Centrerar texten */
    background-color: #F7ECE1; /* Bakgrundsfärg */
    display: inline-block; /* Anpassar bredden till bilden */
    padding: 10px;
    border-radius: 10px; /* Mjuka hörn */
    margin: 0;
}

.image-container img {
    max-width: 100%; /* Gör bilden responsiv */
    border-radius: 10px; /* Samma runda hörn */
}

.image-container figcaption {
    font-size: 100%;
    color: #996515;
    margin-top: 10px;
}


/* Responsive Design */
@media (max-width: 768px) { /* För surfplattor och mindre */
    .card {
        flex-direction: column;
        align-items: center;
    }
}
