/* General styles */
body {
    background-color: #F7ECE1;
    margin: 0;
    padding: 0;
    color: #011936;
    font-family: "Merriweather Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dancing-script-font {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: #177E89;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
    font-family: "Ruda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Welcome Section */
.welcome {
    text-align: center;
    color: #8a6f60;
    padding: 40px;
}

.welcome h1 {
    color: #B370B0;
    margin: 20px 0;
    font-size: 500%;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.welcome h2 {
    color: #177E89;
    margin: 5px 0;
    font-size: 300%;
    font-family: "Ruda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Card Style */
.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-content {
    display: flex;
    align-items: center; /* Aligns text and image vertically */
    justify-content: space-between;
    gap: 20px;
}

.card-text {
    flex: 1; /* Takes up available space */
}

.card-image {
    width: 40%; /* Adjust width as needed */
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.card h1 {
    color: #177E89;
    font-family: "Ruda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card h2 {
    color: #1EA0AE;
    font-size: large;
}

.card a {
    color: #B370B0;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.card li {
    list-style: circle;
    margin: 5px;
}

/* Responsive Design */
@media (max-width: 500px) {
    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        width: 100%; /* Full width on small screens */
    }
}