div.container {
    max-width: 400px;
}

div.navbar {
    margin: 10px;
    display: flex;
    justify-content: space-between; /* Distributes items evenly with space around them */
    padding: 10px 0;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

div.welcome {
    text-align: center;
}

div.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
